In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data=pd.read_csv(r"C:\Users\admin\OneDrive\Desktop\train.csv")

In [3]:
print(data.head())

   id  Gender  Age  Driving_License  Region_Code  Previously_Insured  \
0   1    Male   44                1           28                   0
1   2    Male   76                1            3                   0
2   3    Male   47                1           28                   0
3   4    Male   21                1           11                   1
4   5  Female   29                1           41                   1

  Vehicle_Age Vehicle_Damage  Annual_Premium  Policy_Sales_Channel  Vintage  \
0   > 2 Years            Yes           40454                    26      217
1    1-2 Year             No           33536                    26      183
2   > 2 Years            Yes           38294                    26       27
3    < 1 Year             No           28619                   152      203
4    < 1 Year             No           27496                   152       39

   Response
0         1
1         0
2         1
3         0
4         0

In [4]:
data.shape

(381109, 12)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 381109 entries, 0 to 381108
Data columns (total 12 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   id                    381109 non-null  int64
 1   Gender                381109 non-null  object
 2   Age                   381109 non-null  int64
 3   Driving_License       381109 non-null  int64
 4   Region_Code           381109 non-null  int64
 5   Previously_Insured    381109 non-null  int64
 6   Vehicle_Age           381109 non-null  object
 7   Vehicle_Damage        381109 non-null  object
 8   Annual_Premium        381109 non-null  int64
 9   Policy_Sales_Channel  381109 non-null  int64
 10  Vintage               381109 non-null  int64
 11  Response              381109 non-null  int64
dtypes: int64(9), object(3)
memory usage: 34.9+ MB

In [6]:
data.describe()

,id,Age,Driving_License,Region_Code,Previously_Insured,Annual_Premium,Policy_Sales_Channel,Vintage,Response
count,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000,381109.000000
mean,190555.000000,38.822584,0.997869,26.388807,0.458210,30564.389581,112.034295,154.347397,0.122563
std,110016.836208,15.511611,0.046110,13.229888,0.498251,17213.155057,54.203995,83.671304,0.327936
min,1.000000,20.000000,0.000000,0.000000,0.000000,2630.000000,1.000000,10.000000,0.000000
25%,95278.000000,25.000000,1.000000,15.000000,0.000000,24405.000000,29.000000,82.000000,0.000000
50%,190555.000000,36.000000,1.000000,28.000000,0.000000,31669.000000,133.000000,154.000000,0.000000
75%,285832.000000,49.000000,1.000000,35.000000,1.000000,39400.000000,152.000000,227.000000,0.000000
max,381109.000000,85.000000,1.000000,52.000000,1.000000,540165.000000,163.000000,299.000000,1.000000

In [7]:
## How many have defaulted on loan
data.head()

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,1,Male,44,1,28,0,> 2 Years,Yes,40454,26,217,1
1,2,Male,76,1,3,0,1-2 Year,No,33536,26,183,0
2,3,Male,47,1,28,0,> 2 Years,Yes,38294,26,27,1
3,4,Male,21,1,11,1,< 1 Year,No,28619,152,203,0
4,5,Female,29,1,41,1,< 1 Year,No,27496,152,39,0

In [8]:
defaulters=data.Risk_Flag.sum()
total=len(data.Risk_Flag)
rate_of_default=defaulters/total
print('The total number of defaulters are',defaulters,'and the percent of defaulters is ',rate_of_default*100,'%')

f,ax=plt.subplots(1,2,figsize=(12,6))
a=data.Risk_Flag.value_counts()
a.plot.pie(autopct= "%1.f%%",shadow=True,explode=[0,0.2],ax=ax[0],colors=['#FFEFDB','#7FFFD4'])

sns.countplot(x="Risk_Flag",data=data,ax=ax[1])

AttributeError: 'DataFrame' object has no attribute 'Risk_Flag'

In [ ]:
b=data['Married/Single'].value_counts()
print(b)
crosstab1=pd.crosstab(data['Risk_Flag'],data['Married/Single'],margins=True)
crosstab1

In [ ]:
married_defaulters=2636/25728
Single_defaulters=28360/226272
print(married_defaulters*100)
print(Single_defaulters*100)

In [ ]:
f,ax=plt.subplots(1,2,figsize=(18,8))
data['Married/Single'].value_counts().plot.bar(ax=ax[0])
sns.countplot(x=data['Married/Single'],hue=data['Risk_Flag'],ax=ax[1],palette='Accent_r')

In [ ]:
print('Number of unique professions in the dataset are',data['Profession'].nunique())

In [ ]:
plt.subplots(figsize=(18,9))
data.Profession.value_counts().plot.bar(color='brown')
plt.show()
crosstab2=pd.crosstab(data['Profession'],data['Risk_Flag'],margins=True)
crosstab2.sort_values(by=1,ascending=False).head()

In [ ]:
## Here in the above crosstab we can see that the maximum loan is taken by physicians while police_officers are the ones who defaulted the most

In [ ]:
data.House_Ownership.value_counts()

In [ ]:
f,ax=plt.subplots(1,2,figsize=(18,8))
data.House_Ownership.value_counts().plot.bar(color='orchid',ax=ax[0])
sns.countplot(x=data.House_Ownership,hue=data.Risk_Flag,palette=['Purples'])

In [ ]:
data.Car_Ownership.value_counts()

In [ ]:
f,ax=plt.subplots(1,2,figsize=(18,8))
data.Car_Ownership.value_counts().plot.bar(ax=ax[0])
sns.countplot(x=data.Car_Ownership,hue=data.Risk_Flag,palette='Accent_r')

In [ ]:
crosstab3=pd.crosstab(data.Car_Ownership,data.Risk_Flag,margins=True)
crosstab3

In [ ]:
print('Number of defaulters who own a car ',8435/76000*100,'%')
print('Number of deafulters who do not own a car',22561/176000*100,'%')

In [ ]:
sns.catplot(x='House_Ownership',y='Risk_Flag',hue='Car_Ownership',data=data,kind='point')

In [ ]:
data.STATE.nunique(),data.CITY.nunique()

In [ ]:
##There are 317 citys and they are a subset of state having count 29.

In [ ]:
crosstab4=pd.crosstab(data.STATE,data.Risk_Flag,margins=True)
crosstab4.head()

In [ ]:
percent_defaulters_State=crosstab4[1]/crosstab4['All']*100
percent_defaulters_State.sort_values(ascending=False)

In [ ]:
## This give us an idea that the percent of deafulters is most in manipur State

In [ ]:
crosstab5=pd.crosstab(data.CITY,data.Risk_Flag,margins=True)
crosstab5.sort_values(by=1,ascending=False)

In [ ]:
(crosstab5[1]/crosstab5['All']*100).sort_values(ascending=False).head()

In [ ]:
data.STATE[data.CITY=='Bhubaneswar'].value_counts()

In [ ]:
##Interesting thing is Bhubaneswar is city that have 32% of default rate, 
##while Odisha is state that Bhubaneswar is in but only have 14% of default rate.

In [ ]:
##now we we find out the reate of defaulters state wise

In [ ]:
plt.figure(figsize=(18,8))
rate_defaulters_statewise=crosstab4[1]/crosstab4['All']*100
rate_defaulters_statewise.plot.bar(color='aquamarine')

In [ ]:
##Overall Manipur is the state with Highest default rate(21%)
##2) Bhubaneshwar is city with default rate of 32%

In [ ]:
print('Highest Income is:',data.Income.max())
print('Lowest Income is:',data.Income.min())
print('Average Income is:',data.Income.mean())

In [ ]:
f,ax=plt.subplots(1,2,figsize=(18,8))
sns.histplot(data.Income,ax=ax[0],kde=True)
sns.boxplot(data.Income,ax=ax[1],orient='h')
## the histogram and KDE provide a comprehensive view of the data distribution. 
## We can see the general shape and features of the distribution
## Here through the boxplot we can interpret that there is no outlier in income

In [ ]:
print('Highest age is:',data.Age.max())
print('Lowest age is:',data.Age.min())
print('Average age is:',round(data.Age.mean()))

In [ ]:
f, ax = plt.subplots(1,2,figsize=(18,8))
sns.histplot(data.Age, ax=ax[0],kde=True);
sns.boxplot(data.Age, ax=ax[1],orient='h');

In [ ]:
## From the boxplot we can interpret that the desnity

In [ ]:
pd.crosstab(data.Experience,data.Risk_Flag,  margins=True)

In [ ]:

pd.crosstab(data.Experience, data.Risk_Flag).plot.bar(width=0.9).set(title="Number of loan takers acoording to Experience");
sns.catplot(x="Experience", y="Risk_Flag", data=data,kind='point').set(title="Default rate vs Experience")

In [ ]:
pd.crosstab(data.CURRENT_JOB_YRS,data.Risk_Flag )

In [ ]:
pd.crosstab(data.CURRENT_JOB_YRS ,data.Risk_Flag ).plot.bar(width=0.8).set(title="Number of loan taken based on current job years")
sns.catplot(x="CURRENT_JOB_YRS", y="Risk_Flag", data=data,kind='point').set(title="Default rate vs Current Job Years");

In [ ]:
pd.crosstab(data.CURRENT_HOUSE_YRS,data.Risk_Flag,margins=True )

In [ ]:
pd.crosstab(data.CURRENT_HOUSE_YRS ,data.Risk_Flag ).plot.bar().set(title="Number of loan takers according to Current House Years")
sns.catplot(x="CURRENT_HOUSE_YRS", y="Risk_Flag", data=data,kind='point').set(title="Default rate vs Current House Years");

In [ ]:
print(data.dtypes)

In [ ]:
columns_to_plot=['Id','Income','Age','Experience','CURRENT_JOB_YRS','CURRENT_HOUSE_YRS','Risk_Flag']
corr_mat=data[columns_to_plot].corr()
corr_mat

In [ ]:
sns.heatmap(corr_mat,cmap='Accent_r',annot=True)

In [ ]:
data["Age_band"] = 0
data.loc[(data["Age"] >= 21) & (data["Age"] <= 33), "Age_band"] = 0
data.loc[(data["Age"] > 33) & (data["Age"] <= 45), "Age_band"] = 1
data.loc[(data["Age"] > 45) & (data["Age"] <= 57), "Age_band"] = 2
data.loc[(data["Age"] > 57) & (data["Age"] <= 69), "Age_band"] = 3
data.loc[(data["Age"] > 69) & (data["Age"] <= 79), "Age_band"] = 4

In [ ]:
data['Age_band'].value_counts().to_frame().style.background_gradient(cmap='Accent')

In [ ]:
sns.catplot(x='Age_band',y='Risk_Flag',data=data,kind='point')

In [ ]:
## From the catplot we can interpret that the age_band of 21-33 are the most risky group to give loan 
## As the age increasses the Risk of giving loans becomes less

In [ ]:
## As the data is continuous we define income ranges using quantiles/

In [ ]:
data['Income_range']=pd.qcut(data['Income'],4)
data.groupby(['Income_range'])['Risk_Flag'].mean().to_frame()

In [ ]:
data['Income_cat'] = 0
data.loc[(data["Income"] >= 103010)&(data["Income"] <= 2503015), "Income_cat"]=0
data.loc[(data["Income"] > 2503015)&(data["Income"] <= 5000694.5), "Income_cat"]=1
data.loc[(data["Income"] > 5000694.5)&(data["Income"] <= 7477502), "Income_cat"]=2
data.loc[(data["Income"] > 7477502)&(data["Income"] <= 9999938), "Income_cat"]=3

In [ ]:
sns.catplot(x="Income_cat",y= "Risk_Flag", data=data, hue="Car_Ownership",kind='point')

In [ ]:
## People in income_category 0 default the most ,may they be owner of the car or not and one more observation shows that people
##people with no car in the high income category default the most

In [ ]:
##There is multicolinearity between Current job years & Experience so one of them can be removed and the people with 
## current job years seems important factor for the loan analysis than experience

In [ ]:
sns.countplot(x="Risk_Flag",data=data)
data.Risk_Flag.value_counts()

In [ ]:
train_data=data

In [ ]:
train_data.drop([ "Income", "Income_range", "Age", "Experience"], axis=1, inplace=True)

In [ ]:
## As we have categorical data we first transform it into numerical one

In [ ]:
from sklearn.preprocessing import LabelEncoder

In [ ]:

columns=['Married/Single','House_Ownership','Car_Ownership','Profession','CITY','STATE']
le=LabelEncoder()

for x in columns:
    train_data[x]=le.fit_transform(train_data[x])

In [ ]:
sns.heatmap(train_data.corr(), annot=True, linewidth=0.2, annot_kws={"size":20}, cmap="Blues")
fig = plt.gcf()
fig.set_size_inches(20,10)

In [ ]:
## It is correlation between th categorical variables which we transformed to numerical values

## Predictive Model

In [ ]:
train_data.head()

In [ ]:
from sklearn.model_selection import train_test_split
x = train_data.drop('Risk_Flag', axis=1)
y = train_data['Risk_Flag']

In [ ]:
y = train_data['Risk_Flag']

In [ ]:
train_x, test_x, train_y, test_y = train_test_split(x, y, test_size=0.3, random_state=42, stratify=train_data.Risk_Flag)

In [ ]:
import warnings
warnings.filterwarnings("ignore")

##  LogisticRegression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
from sklearn.metrics import classification_report

model1=LogisticRegression()
model1.fit(x,y)
predict1=model1.predict(test_x)

In [ ]:
predicted_riskflag=pd.DataFrame(predict1)
predicted_riskflag.value_counts()

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
metrics.accuracy_score(predicted_riskflag, test_y)

In [ ]:
print(classification_report(test_y, predict1))

In [ ]:
confusion_mat=confusion_matrix(test_y,predict1)
sns.heatmap(confusion_mat, annot=True, fmt='d', cmap='Blues',
            xticklabels=['Predicted 0', 'Predicted 1'],
            yticklabels=['Actual 0', 'Actual 1'])
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')

In [ ]:
from sklearn.metrics import roc_curve, roc_auc_score, auc
y_probs_rf = model1.predict_proba(test_x)[:, 1]

# Calculate ROC curve and AUC
fpr_rf, tpr_rf, thresholds_rf = roc_curve(test_y, y_probs_rf)
roc_auc_rf = auc(fpr_rf, tpr_rf)

# Plot ROC curve
plt.plot(fpr_rf, tpr_rf, color='darkorange', lw=2, label=f'ROC curve (AUC = {roc_auc_rf:.2f})')
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--', label='Random Guess')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC) Curve - LogisticRegression')
plt.legend(loc='lower right')

## KNN

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

model2= KNeighborsClassifier()
model2.fit(train_x, train_y)
predict2= model2.predict(test_x)

In [ ]:
a=pd.DataFrame(predict2)
pd.DataFrame(predict2).value_counts()

In [ ]:
print(classification_report(test_y, predict2))

In [ ]:
confusion_mat=confusion_matrix(test_y,predict2)
sns.heatmap(confusion_mat, annot=True, fmt='d', cmap='Blues',
            xticklabels=['Predicted 0', 'Predicted 1'],
            yticklabels=['Actual 0', 'Actual 1'])
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')

In [ ]:
y_probs_rf = model2.predict_proba(test_x)[:, 1]

# Calculate ROC curve and AUC
fpr_rf, tpr_rf, thresholds_rf = roc_curve(test_y, y_probs_rf)
roc_auc_rf = auc(fpr_rf, tpr_rf)

# Plot ROC curve
plt.plot(fpr_rf, tpr_rf, color='darkorange', lw=2, label=f'ROC curve (AUC = {roc_auc_rf:.2f})')
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--', label='Random Guess')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC) Curve - KNN')
plt.legend(loc='lower right')

In [ ]:
62457/75600*100,4738/75600*100

## RandomForestClassifier

In [ ]:
from sklearn.ensemble import RandomForestClassifier

model3= RandomForestClassifier(random_state=1, n_estimators = 50)
model3.fit(train_x, train_y)
predict3 = model3.predict(test_x)
predict3

In [ ]:
predict3=pd.DataFrame(predict3)
predict3.value_counts()

In [ ]:
print(classification_report(test_y, predict3))

In [ ]:

confusion_mat=confusion_matrix(test_y,predict3)
sns.heatmap(confusion_mat, annot=True, fmt='d', cmap='Blues', 
            xticklabels=['Predicted 0', 'Predicted 1'],
            yticklabels=['Actual 0', 'Actual 1'])
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')

In [ ]:
y_probs_rf = model3.predict_proba(test_x)[:, 1]

# Calculate ROC curve and AUC
fpr_rf, tpr_rf, thresholds_rf = roc_curve(test_y, y_probs_rf)
roc_auc_rf = auc(fpr_rf, tpr_rf)

# Plot ROC curve
plt.plot(fpr_rf, tpr_rf, color='darkorange', lw=2, label=f'ROC curve (AUC = {roc_auc_rf:.2f})')
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--', label='Random Guess')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC) Curve - RandomForestClassifier')
plt.legend(loc='lower right')

In [ ]:
64438/75600*100,3933/75600*100

## Decision tree

In [ ]:
from sklearn.tree import DecisionTreeClassifier

model4= DecisionTreeClassifier(random_state=420)
model4.fit(train_x, train_y)
predict4 = model4.predict(test_x)

In [ ]:
pd.DataFrame(predict4).value_counts()

In [ ]:
print(classification_report(test_y, predict4))

In [ ]:
confusion_mat=confusion_matrix(test_y,predict4)
sns.heatmap(confusion_mat, annot=True, fmt='d', cmap='Blues', 
            xticklabels=['Predicted 0', 'Predicted 1'],
            yticklabels=['Actual 0', 'Actual 1'])
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')

In [ ]:
y_probs_rf = model4.predict_proba(test_x)[:, 1]

# Calculate ROC curve and AUC
fpr_rf, tpr_rf, thresholds_rf = roc_curve(test_y, y_probs_rf)
roc_auc_rf = auc(fpr_rf, tpr_rf)

# Plot ROC curve
plt.plot(fpr_rf, tpr_rf, color='darkorange', lw=2, label=f'ROC curve (AUC = {roc_auc_rf:.2f})')
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--', label='Random Guess')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC) Curve - DecisionTree')
plt.legend(loc='lower right')

## Xg Boost Classifier

In [ ]:
from xgboost import XGBClassifier

model5= XGBClassifier()
model5.fit(train_x, train_y)
predict5 = model5.predict(test_x)
predict5

In [ ]:
pd.DataFrame(predict5).value_counts()

In [ ]:
print(classification_report(test_y, predict5))

In [ ]:
confusion_mat=confusion_matrix(test_y,predict5)
sns.heatmap(confusion_mat, annot=True, fmt='d', cmap='Blues', 
            xticklabels=['Predicted 0', 'Predicted 1'],
            yticklabels=['Actual 0', 'Actual 1'])
plt.xlabel('Predicted')
plt.ylabel('Actual')
plt.title('Confusion Matrix')

In [ ]:
y_probs_rf = model5.predict_proba(test_x)[:, 1]

# Calculate ROC curve and AUC
fpr_rf, tpr_rf, thresholds_rf = roc_curve(test_y, y_probs_rf)
roc_auc_rf = auc(fpr_rf, tpr_rf)

# Plot ROC curve
plt.plot(fpr_rf, tpr_rf, color='darkorange', lw=2, label=f'ROC curve (AUC = {roc_auc_rf:.2f})')
plt.plot([0, 1], [0, 1], color='navy', lw=2, linestyle='--', label='Random Guess')
plt.xlabel('False Positive Rate')
plt.ylabel('True Positive Rate')
plt.title('Receiver Operating Characteristic (ROC) Curve - XGboost classifier')
plt.legend(loc='lower right')

In [ ]:
test_data=pd.read_csv(r"C:\Users\hp\OneDrive\Desktop\Test Data.csv")
test_data.head()

In [ ]:
test_data["Age_band"] = 0
test_data.loc[(test_data["Age"] >= 21) & (test_data["Age"] <= 33), "Age_band"] = 0
test_data.loc[(test_data["Age"] > 33) & (test_data["Age"] <= 45), "Age_band"] = 1
test_data.loc[(test_data["Age"] > 45) & (test_data["Age"] <= 57), "Age_band"] = 2
test_data.loc[(test_data["Age"] > 57) & (test_data["Age"] <= 69), "Age_band"] = 3
test_data.loc[(test_data["Age"] > 69) & (test_data["Age"] <= 79), "Age_band"] = 4

In [ ]:
test_data['Income_cat'] = 0
test_data.loc[(test_data["Income"] >= 103010)&(test_data["Income"] <= 2503015), "Income_cat"]=0
test_data.loc[(test_data["Income"] > 2503015)&(test_data["Income"] <= 5000694.5), "Income_cat"]=1
test_data.loc[(test_data["Income"] > 5000694.5)&(test_data["Income"] <= 7477502), "Income_cat"]=2
test_data.loc[(test_data["Income"] > 7477502)&(test_data["Income"] <= 9999938), "Income_cat"]=3

In [ ]:
test_data.drop(["Income", "Age", "Experience"], axis=1, inplace=True)

In [ ]:
columns=['Married/Single','House_Ownership','Car_Ownership','Profession','CITY','STATE']
le=LabelEncoder()

for y in columns:
    test_data[y]=le.fit_transform(test_data[y])

## Predicting the Risk Flag column on test data

In [ ]:
y_pred_prob = model3.predict_proba(test_data)
y_pred_prob_data = pd.DataFrame(data=y_pred_prob, columns=['p', 'q'])

In [ ]:
Response_prediction = test_data[['Id']]
y_pred_prob_data['Id'] = Response_prediction['Id']
y_pred_prob_data.head()